################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Agent-Translations/CopilotIndices/17.13.196.30798
